.marquee__track {
    animation: marquee 30s linear infinite;
}

.marquee__track--reverse {
    animation: marquee 30s linear infinite reverse;
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
